In [20]:
# Package import
import numpy as np
import pandas as pd
import pymysql as mysql
import matplotlib.pyplot as plt
import csv
import requests
import sqlite3
username= 'root'
userpass= '2456'

In [9]:
conn = mysql.connect(host='localhost', port=int(3306), user=username, passwd=userpass, db='salesdata')

In [22]:
#InternationalSaleReport table creation
import sqlite3

# Establish a connection to the database
conn = sqlite3.connect('salesdata')  # replace 'database_name.db' with your database file

# Create a cursor object using the cursor() method
cursor = conn.cursor()

# Execute the SQL command
cursor.execute('''
    CREATE TABLE InternationalSaleReport (
        `index` INT,
        DATE DATE,
        Months VARCHAR(255),
        CUSTOMER VARCHAR(255),
        Style VARCHAR(255),
        SKU VARCHAR(255),
        Size VARCHAR(255),
        PCS DECIMAL(10, 2),
        RATE DECIMAL(10, 2),
        GROSS_AMT DECIMAL(10, 2),
        PRIMARY KEY (`index`)
    );
''')

# Commit your changes in the database
conn.commit()

# Close the connection
conn.close()

OperationalError: table InternationalSaleReport already exists

In [21]:
# Establish a connection to the database
conn = sqlite3.connect('salesdata')  # replace 'database_name.db' with your database file

# Create a cursor object using the cursor() method
cursor = conn.cursor()

# Execute the SQL command
cursor.execute('''
CREATE TABLE AmazonSaleReport (
    `index` INT,
    OrderID VARCHAR(255),
    Date DATE,
    Status VARCHAR(255),
    Fulfilment VARCHAR(255),
    SalesChannel VARCHAR(255),
    ship_service_level VARCHAR(255),
    Style VARCHAR(255),
    SKU VARCHAR(255),
    Category VARCHAR(255),
    currency VARCHAR(255),
    Amount DECIMAL(10, 2),
    ship_city VARCHAR(255),
    ship_state VARCHAR(255),
    ship_postal_code VARCHAR(255),
    ship_country VARCHAR(255),
    promotion_ids TEXT,
    B2B BOOLEAN,
    fulfilled_by VARCHAR(255),
    Unnamed_22 TEXT,
    PRIMARY KEY (`index`)
);
''')

# Commit your changes in the database
conn.commit()

# Close the connection
conn.close()

OperationalError: table AmazonSaleReport already exists

In [26]:
# Establish a connection to the database
conn = sqlite3.connect('salesdata.db')  # Corrected the database file extension
cursor = conn.cursor()

# Assuming you have already created the InternationalSaleReport and AmazonSaleReport tables

# Function to load CSV data into a table
def load_csv_into_table(csv_file_path, table_name, columns):
    with open(csv_file_path, 'r', encoding='utf-8') as file:
        reader = csv.reader(file)
        next(reader)  # Skip the header row
        rows = [row for row in reader]
        placeholders = ','.join(['?'] * len(columns))
        sql = f'INSERT INTO {table_name} ({",".join(columns)}) VALUES ({placeholders})'
        cursor.executemany(sql, rows)

# Load data from CSV files into tables
load_csv_into_table('/Users/17379/Desktop/USD/2024_Spring/507a/Final Project/InternationalSaleReport.csv', 'InternationalSaleReport', ['index', 'DATE', 'Months', 'CUSTOMER', 'Style', 'SKU', 'Size', 'PCS', 'RATE', 'GROSS_AMT'])
load_csv_into_table('/Users/17379/Desktop/USD/2024_Spring/507a/Final Project/AmazonSaleReport.csv', 'AmazonSaleReport', ['index', 'OrderID', 'Date', 'Status', 'Fulfilment', 'SalesChannel', 'ship_service_level', 'Style', 'SKU', 'Category', 'currency', 'Amount', 'ship_city', 'ship_state', 'ship_postal_code', 'ship_country', 'promotion_ids', 'B2B', 'fulfilled_by', 'Unnamed_22'])

# Commit changes and close the connection
conn.commit()
conn.close()

OperationalError: near "index": syntax error

In [30]:
import csv
import sqlite3

# Establish a connection to the database
conn = sqlite3.connect(host='localhost', port=int(3306), user=username, passwd=userpass, db='salesdata')
cursor = conn.cursor()

def load_csv_into_table(csv_file_path, table_name, columns):
    with open(csv_file_path, 'r', encoding='utf-8') as file:
        reader = csv.reader(file)
        next(reader)  # Skip the header row
        rows = [row for row in reader]
        
        # Automatically quote column names
        quoted_columns = [f'"{col}"' for col in columns]
        
        placeholders = ','.join(['?'] * len(columns))
        sql = f'INSERT INTO {table_name} ({",".join(quoted_columns)}) VALUES ({placeholders})'
        cursor.executemany(sql, rows)

# Example usage
load_csv_into_table(
    '/Users/17379/Desktop/USD/2024_Spring/507a/Final Project/InternationalSaleReport.csv',
    'internationalsalereport',
    ['index', 'DATE', 'Months', 'CUSTOMER', 'Style', 'SKU', 'Size', 'PCS', 'RATE', 'GROSS_AMT']
)

load_csv_into_table(
    '/Users/17379/Desktop/USD/2024_Spring/507a/Final Project/AmazonSaleReport.csv',
    'amazonsalereport',
    ['index', 'OrderID', 'Date', 'Status', 'Fulfilment', 'SalesChannel', 'ship_service_level', 'Style', 'SKU', 'Category', 'currency', 'Amount', 'ship_city', 'ship_state', 'ship_postal_code', 'ship_country', 'promotion_ids', 'B2B', 'fulfilled_by', 'Unnamed_22']
)

# Commit changes and close the connection
conn.commit()
conn.close()

TypeError: Connection() missing required argument 'database' (pos 1)